
 
<% if flash[:error] %>
<div class="errors flash fatal">
   <h3 class="error"><%= flash[:error] %>
   </div>
   <% end %>


<h1>Login</h1>
<div class="form-container">
  <form method="POST" action="/login">
     
     <div class="form-group">
        <lable for="email">Email</lable>
        <input type="email" name="user[email]" id="email" class="form-control" required>
      </div>

      <div class="form-group">
        <lable for="password">Password</lable>
        <input type="password" name="user[password]" id="password" class="form-control" required>
      </div>
      

        <input type="submit" value="Login">
        <br><br><br>
        <small>**We do not share your personal information you have provided to us without your consent!**</small>
  </form>
</div>
