<h3>Welcome, Thank you for participating to prevent our planet!</h3>


   <h1>List of Users Actions</h1>
    <ul>
     <% @actions.each do |a| %>
       <li><%= a.id %> - <%= a.name %>, <%= a.title %></li>
    <% end %>
    </ul>


 

<a href="/logout">Logout</a>
