<h3>Welcome, Thank you for participating to prevent our planet!</h3>


   <h1>Your Daily Actions</h1>
    <ul>
     <% @actions.each do |a| %>
       <a href="/actions/<%= a.id%>"><%= a.id %> - <%= a.name %>/<%= a.title %></a><br>
    <% end %>
    </ul>


 

<a href="/logout">Logout</a>
