<h3>Welcome, Thank you for participating to prevent our planet!</h3>

  <div class="actions-container">
 
   <h1>Your Daily Actions</h1>
    <ul>
     <% @actions.each do |a| %>
      <li>
       <a href="/actions/<%= a.id%>"> Username:<%= a.user.try(:username) || "N/A" %> - Action name: <%= a.name %> - Action title: <%= a.title %></a><br>
         </li>
    <% end %>
    </ul>
    
    </div>

  
 

<a href="/logout">Logout</a>
<a href="/actions/new">Create new action</a>
