
<body>
    <div class="content">
    <h2>Preserve Our Planet</h2>
      <p>Welcome!<br><br>
       This website has been made to spread awareness of climate change.
         As an andividual who lives in this precious planet, what are our daily contribution ro protect the environment?<br>
      
         “The truth is: the natural world is changing. And we are totally dependent on that world.
         It provides our food, water and air. It is the most precious thing we have and we need to defend it.” Sir David Attenborough.
         <div class="embed-responsive embed-responsive-4by3">
         <iframe class="embed-responsive-item" style="max-width:360px; max-height:240px;" 
         src="https://www.youtube.com/embed/64R2MYUt394"> </iframe>
        </div>

        </div>
       
    
  
   <style>
   .content {     
     text-align: center;
     resize: vertical;
     vertical-align: middle;
     height :400px;
     font-size: 110%
     
     
   }

   
.embed-responsive {
  width: 30%;
  margin: 0 auto; 
  padding: 150px
  }
 
}
.content p {
 margin: 0;
 padding: 20px;
}

   
   </style>
   

</body>
