<h3>Welcome, Thank you for participating to prevent our planet!</h3>

  
 
   <h1>Profile</h1>
    <ul>
     <% @users.each do |u| %>
      <li>
       <a href="/users/<%= u.id%>"> Username:<%= u.username %> Email:<%= u.email %> </a><br>
    </li>
    <% end %>
    </ul>
    


  