Click below to check out the latest news and blogs:-

<h1>News</h1>
<div class="news-content">
    <ul>
      <li>
      <a href="https://www.climatechangenews.com/">Climate Change News</a> 
      </li></br>
      <li>
      <a href="https://inhabitat.com/environment/">Inhabitat News</a>
      </li></br>
      <li>
      <a href="https://climateanalytics.org/blog/">Climateanalytics Blog</a>
      </li></br>
      <li>
      <a href="https://www.earthday.org/">Earthday.org News</a>
      </li></br>
      <li>
      <a href="https://climate.nasa.gov/">Climate.nasa.org News</a>
    </li>
    </ul>
    
    </div>
    



