<!DOCTYPE html>
<html>

<title>Welcome</title>

<div id="home">
  <div class="landing-text">
  <br><br><br><br><br>
  <h1>PRESERVE OUR PLANET</h1>
  <h4>Take small actions everyday to save our planet</h4>
    <% if !logged_in? %> 
    <a href="/login" class="btn btn-info btn-lg">Login</a> 
    <% else %>
      <img src="/images/image.png" alt="background image">
      <% end %>
</div>

</html>



