<!DOCTYPE html>
<html>


<title>Welcome</title>

<body>
<style>

#home {
        background-color: whitesmoke;
}

.landing-text {
        
        text-align: center;
        vertical-align: middle;
        height :400px;
        
     
       }
      
       footer {
        width: 100%;
        background-color: #292929;
        padding: 0px;
        color: #fff
      }

   .fa {
    padding: 10px;
    font-size: 15px;
    color: #FFF;
 }

 .fa:hover {
   color: #808080;
   text-decoration: none;      
 }

     
</style>
</body>

</html>